@model SweetSavory.Models.Flavor
@{
    ViewData["Title"] = "New Flavor";
}
<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
    <label for="FlavorName">Flavor Name:</label>
    @Html.TextBoxFor(model => model.FlavorName)
    <input type="submit" value="Add new flavor" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all flavors", "Index", new { @class = "btn btn-primary" })</p>