@{
    ViewData["Title"] = "Welcome, Pierre";
}
@using SweetSavory.Models;
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<h2>Treats</h2>
@foreach (Treat treat in Model)
{
  <p>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId})</p>
}

<!-- @*<h2>Flavors</h2>
@foreach (Flavor flavor in Model)
{
  <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId})</li>
}*@ -->